# ========================
# Terraform 
# Specifiski noteikumi Terraform projektiem
# ========================

# Ignorēt lokālos Terraform stāvokļa failus, kas satur infrastruktūras aprakstu
*.tfstate
*.tfstate.backup

# Ignorēt .tfvars failus, kuros bieži tiek glabāti sensitīvi dati (paroles, API atslēgas)
*.tfvars
*.tfvars.json

# Ignorēt avāriju žurnālfailus
crash.log
crash.*.log

# Ignorēt provideru spraudņu "lock" failu un pašu spraudņu mapi
.terraform/
.terraform.lock.hcl

# Ignorēt lokālās konfigurācijas un pārrakstīšanas failus
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ========================
# Python
# Specifiski noteikumi Python projektiem
# ========================

# Ignorēt kešatmiņu un kompilētos failus
__pycache__/
*.py[cod]
*$py.class

# Ignorēt virtuālās vides mapes
.venv
env/
venv/

# ========================
# Ansible
# ========================

# Ignorēt "retry" failus, kas tiek ģenerēti neveiksmīgu izpilžu gadījumā
*.retry

# Ignorēt šifrēto mainīgo failus (labā prakse)
*.vault

# ========================
# Vispārīgi / OS / Editor
# ========================

# Ignorēt operētājsistēmu specifiskus failus (macOS, Windows)
.DS_Store
Thumbs.db

# Ignorēt koda redaktora (piem., Visual Studio Code) konfigurācijas mapi
.vscode/
